# Gradle
.gradle/

# IntelliJ IDEA
.idea/

# Common
common/.gradle/
common/build/
common/run/

# Fabric
fabric/.gradle/
fabric/build/
/fabric/run/

# NeoForge
neoforge/.gradle/
neoforge/build/
neoforge/run/